<!DOCTYPE html>
<html>
<head>

<title>Payment Form</title>
</head>
<body>
	<p>Hey User!
		It's unfortunate to see that you're not subscribed to enjoy unlimited music streaming and fantastic features of MusicApp
	</p>
	<p>Why Subscription?</p>
	<p>1. Ad free music streaming</p>
	<p>2. Custom Caller tune</p>
	<p>3. Offline listening</p>
    <p>4. High audio quality</p>
    <p>5. Unlimited downloads </p>
    
    <p>Want to subscribe? Buy Subscription now to avail best offers</p>
    <button>Pay now!</button>
	

</body>
</html>